.container-fluid{
  /* position: relative;
  z-index: 1; */
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#logoAgency{
  width: 6rem;
  /* position: absolute;
  z-index: 3; */
  /* margin: 3rem; */
}

#titleHeader{
  font-size: 1.5rem;
  /* position: absolute;
  z-index: 3; */
  /* right: 8rem; */
  /* top: 20rem; */
  color: white;
}

.btn-primary{
  /* position: absolute; */
  /* right: 8rem; */
  /* top: 22.5rem; */
  padding: 0.2rem 0.4rem;
  font-size: 0.8rem;
}