.container-fluid{
  /* position: relative;
  z-index: 1; */
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#logoAgency{
  width: 6rem;
  /* position: absolute;
  z-index: 3; */
  /* margin: 3rem; */
}

#imageCard{
  width: 14rem;
}

#titleHeader{
  font-size: 1.5rem;
  /* position: absolute;
  z-index: 3; */
  /* right: 8rem; */
  /* top: 20rem; */
  color: white;
}

.btn-primary{
  /* position: absolute; */
  /* right: 8rem; */
  /* top: 22.5rem; */
  padding: 0.2rem 0.4rem;
  font-size: 0.8rem;
}
.row{
display: flex;
flex-wrap: wrap;
margin-right: -15px;
margin-left: -15px;
}

.card-body {
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}
/* 
.card {
  position: relative;
  display: -webkit-box;
  display: flex;
  margin:10px;
  padding:5px;
  border: 10px solid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
} */


.card-body{
  display: flex;
  flex-direction: row;
}

.card{
  margin: 2rem auto;
}

.card p{
  font-size: .7rem;
  margin: 0;
}