.container-fluid{
  position: relative;
  z-index: 1;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#logo-agency{
  width: 6rem;
  position: absolute;
  z-index: 3;
}

#titleHeader{
  font-size: 1.5rem;
  position: absolute;
  z-index: 2;
}